<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
	<span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
	<li ui-sref-active="active">
		<a ui-sref="app.overview">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.overview.MAIN"> Overview </span>
				</div>
			</div>
		</a>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="app.resume">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-file"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.resume.MAIN"> Resume </span>
				</div>
			</div>
		</a>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="app.projects">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-layers-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.projects.MAIN"> Projects </span>
				</div>
			</div>
		</a>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="app.modules">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-widget"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.modules.MAIN"> Modules </span>
				</div>
			</div>
		</a>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="login">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-user"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.login.LOGIN"> Login Form </span>
				</div>
			</div>
		</a>
	</li>

	<!--<li ui-sref-active="active">-->
		<!--<a ui-sref="app.lltour">-->
			<!--<div class="item-content">-->
				<!--<div class="item-media">-->
					<!--<i class="ti-camera"></i>-->
				<!--</div>-->
				<!--<div class="item-inner">-->
					<!--<span class="title" translate="sidebar.nav.LLtour.MAIN"> LLtour </span>-->
				<!--</div>-->
			<!--</div>-->
		<!--</a>-->
	<!--</li>-->
</ul>
<!-- end: CORE FEATURES -->
