<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.modules.MAIN">MODULES</h1>
            <span class="mainDescription">This page shows some modules that I did.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<section id="page-content">
    <div class="container-fluid container-fullw bg-white">
        <!--<div class="row">-->
            <!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
                <!--<img src="assets/images/sean-xl.jpeg" />-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
                <!--<img src="assets/images/sean-xl.jpeg" />-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
                <!--<img src="assets/images/sean-xl.jpeg" />-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
                <!--<img src="assets/images/sean-xl.jpeg" />-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <!--<div ng-controller="moduleCtrl">-->
        <!--<p>{{person.name}}</p>-->
        <!--<p>{{person.password}}</p>-->
    <!--</div>-->

</section>