<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.projects.MAIN">Projects</h1>
            <span class="mainDescription">This page shows projects I did after I graduated from college</span>
        </div>
        <!--<div ncy-breadcrumb></div>-->
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: YOUR CONTENT HERE -->
<!--start: timeline-->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <div id="timeline">
                <div class="timeline">
                    <div class="spine"></div>
                    <div class="date_separator" id="current">
                        <span>Current</span>
                    </div>
                    <ul class="columns">
                        <li>
                            <div class="timeline_element partition-white">
                                <div class="timeline_date">
                                    <div>
                                        <div class="inline-block">
                                            <span class="current text-bold">Current</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="timeline_title">
                                    <i class="fa fa-desktop fa-2x pull-left"></i>
                                    <h4 class="light-text no-margin padding-5">Local Services Selling Web Application</h4>
                                </div>
                                <div class="timeline_content">
                                    <b>AngularJS, Node.js, Express.js, MongoDB, MySQL, AWS S3</b><br>
                                    Developed a responsive E-commerce web application, which can let local services providers
                                    to sell their services online and more easier to manage and communicate with their customers
                                </div>
                                <div class="readmore">
                                    <a href="#" class="btn btn-o btn-wide btn-default">
                                        Read More <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="spine"></div>
                    <div class="date_separator" id="2016">
                        <span>2016</span>
                    </div>
                    <ul class="columns">
                        <li>
                            <div class="timeline_element partition-white">
                                <div class="timeline_date">
                                    <div>
                                        <div class="inline-block">
                                            <span class="current text-bold">April 2016 - September 2016</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline_title">
                                    <i class="fa fa-money fa-2x pull-left"></i>
                                    <h4 class="light-text no-margin padding-5">Tax Return Web Application</h4>
                                </div>
                                <div class="timeline_content">
                                    <b>AngularJS, JQuery, Bootstrap, Java, Spring, Hibernate, MySQL</b><br>
                                    Developed a tax return web application contains features such like tax return tips and
                                    directions, documents auto fill up, tax return estimation and etc.
                                </div>
                                <div class="readmore">
                                    <a href="#" class="btn btn-default btn-o btn-wide">
                                        Read More <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline_element partition-white">
                                <div class="timeline_date">
                                    <div>
                                        <div class="inline-block">
                                            <span class="current text-bold">January 2016 - March 2016</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline_title">
                                    <i class="fa fa-android fa-2x pull-left"></i>
                                    <h4 class="light-text no-margin padding-5">WeZone Android Application</h4>
                                </div>
                                <div class="timeline_content">
                                    <b>Android Studio, Java, MangoDB</b><br>
                                    Developed a "meet up" android application contains features such like showing different meet up
                                    events, adding/ editing events, user registration/ login, purchasing, sending
                                    comfirmation email, and etc.
                                </div>
                                <div class="readmore">
                                    <a href="https://play.google.com/store/apps/details?id=com.wznyc.wezone&hl=en" class="btn btn-primary btn-o btn-wide" target="_blank">
                                        Read More <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="spine"></div>
                    <div class="date_separator" id="2015">
                        <span>2015</span>
                    </div>
                    <ul class="columns">
                        <li>
                            <div class="timeline_element partition-white">
                                <div class="timeline_date">
                                    <div>
                                        <div class="inline-block">
                                            <span class="current text-bold">Octorber 2015 - December 2015</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline_title">
                                    <i class="fa fa-building-o fa-2x pull-left"></i>
                                    <h4 class="light-text no-margin padding-5">Realty Management Website</h4>
                                </div>
                                <div class="timeline_content">
                                    <b>Html5, CSS3, Bootstrap</b><br>
                                    According to requirements from the owner of the Realty Management Company, rewrite their website to show current business.
                                </div>
                                <div class="readmore">
                                    <a href="http://www.deluco.org" class="btn btn-primary btn-o btn-wide" target="_blank">
                                        Read More <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="spine"></div>
                    <div class="date_separator" id="2014">
                        <span>2014</span>
                    </div>
                    <ul class="columns">
                        <li>
                            <div class="timeline_element partition-white">
                                <div class="timeline_date">
                                    <div>
                                        <div class="inline-block">
                                            <span class="current text-bold">December 2014</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline_title">
                                    <i class="fa fa-futbol-o fa-2x pull-left"></i>
                                    <h4 class="light-text no-margin padding-5">Toy Selling website</h4>
                                </div>
                                <div class="timeline_content">
                                    <b>Html5, CSS3, Bootstrap, JQuery</b><br>
                                    Analyzed business requirements, designed system and implement the front-end view<br>
                                    •	Built a navigation bar, a dropdown menu, a list view, and refine filters for toy products by Html5 and JQuery UI<br>
                                    •	Used Bootstrap framework to create responsive and multi-device friendly design<br>
                                    •	Managed front-end dependencies using Bower<br>
                                </div>
                                <div class="readmore">
                                    <a href="http://www.deluco.org" class="btn btn-default btn-o btn-wide" target="_blank">
                                        Read More <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline_element partition-white">
                                <div class="timeline_date">
                                    <div>
                                        <div class="inline-block">
                                            <span class="current text-bold">September 2014 - November 2014</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline_title">
                                    <i class="fa fa-truck fa-2x pull-left"></i>
                                    <h4 class="light-text no-margin padding-5">Supplies Auto Refill Application</h4>
                                </div>
                                <div class="timeline_content">
                                    <b>Html5, CSS3, Javascript, JQuery, PHP, MySQL</b><br>
                                    This is a web application project for helping the client to select the suitable
                                    products providers and refill the products automatically.
                                </div>
                                <div class="readmore">
                                    <a href="https://github.com/Sean2411/Cycle-Time" class="btn btn-primary btn-o btn-wide" target="_blank">
                                        Read More <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="spine"></div>
                    <div class="date_separator" id="2013">
                        <span>2013</span>
                    </div>
                    <ul class="columns">
                        <li>
                            <div class="timeline_element partition-white">
                                <div class="timeline_date">
                                    <div>
                                        <div class="inline-block">
                                            <span class="current text-bold">March 2011 - December 2013</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline_title">
                                    <i class="fa fa-database fa-2x pull-left"></i>
                                    <h4 class="light-text no-margin padding-5">Research Data Management System</h4>
                                </div>
                                <div class="timeline_content">
                                    <b>(Java, Spring, Hibernate, JSP, Servlet, Matlab, MySQL)</b><br>
                                    Created a web based data management application for effectively saving and retrieving research data

                                </div>
                                <div class="readmore">
                                    <a href="#" class="btn btn-default btn-o btn-wide">
                                        Read More <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline_element partition-white">
                                <div class="timeline_date">
                                    <div>
                                        <div class="inline-block">
                                            <span class="current text-bold">August 2010 - March 2013</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline_title">
                                    <i class="fa fa-file-text-o fa-2x pull-left"></i>
                                    <h4 class="light-text no-margin padding-5">2D / 3D Image Registration by Random Projection</h4>
                                </div>
                                <div class="timeline_content">
                                    <b>(Matlab, C++, OpenCV)</b><br>
                                    we develop a fast global registration method using random projection to reduce the
                                    dimensionality of images. By generating many transformed images from the reference,
                                    the nearest neighbour based image registration detects the transformation which
                                    establishes the best matching from generated transformations. To reduce computational
                                    cost of the nearest nighbour search without significant loss of accuracy, we first
                                    use random projection. To reduce computational complexity of random projection, we
                                    second use spectrum-spreading technique and circular convolution.
                                </div>
                                <div class="readmore">
                                    <a href="http://link.springer.com/chapter/10.1007%2F978-3-642-24028-7_3?LI=true" class="btn btn-primary btn-o btn-wide" target="_blank">
                                        Read More <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="spine"></div>
                    <div class="date_separator" id="2011">
                        <span>2010</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end: timeline-->

<!-- end: YOUR CONTENT HERE -->