<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-2 col-xs-12 margin-top-10">
            <h1 class="mainTitle text-bold" translate="sidebar.nav.resume.MAIN">Resume</h1>
        </div>
        <div class="col-sm-10 col-xs-12 margin-top-5">
            <a class="btn btn-primary btn-o text-large" href="assets/pdf/SeanLu_resume.pdf" download="resume_SeanLu.pdf">Download Lu's Resume</a>
            <!--<pdf-download url="assets/pdf/SeanLu_resume.pdf" filename="SeanLu_resume.pdf"></pdf-download>-->
        </div>

        <!--<div ncy-breadcrumb></div>-->
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: YOUR CONTENT HERE -->
<!-- start: Title - Career Objective -->
<div class="container-fluid container-fullw bg-white">
    <h3 class="text-bold">Carreer Objective</h3>
    <p>Position as a Software Engineer / Front-End Web Developer / Back-End Web Developer or related
        position which offers key participation, team oriented tasks, immediate challenges, and career opportunity.
    </p>
</div>
<!-- end: Title - Career Objective -->

<!-- start: Title - Summary -->
<div class="container-fluid container-fullw bg-white">
    <h3 class="text-bold">Sumary</h3>
    <p>
        •	5 years of programming experience in developing web based applications<br>
        •	Excellent front end development skills including JavaScript, JQuery, HTML5, Bootstrap, CSS3, SASS, AngularJS, Angular2, Node.js<br>
        •	Hands-on experience in using D3.js and ReactJS<br>
        •	Excellent Core Java skills including Collections, Multi-Threading, exception handling etc<br>
        •	Well knowledge of Object Oriented Programming (OOP)<br>
        •	Hands on experience in Spring MVC, Hibernate, Servlets, JSP, JDBC<br>
        •	Proficient in implementing RESTful Web Service with Node.js, Express<br>
        •	Knowledge of SQL queries, Stored Procedures, Functions, Packages and Triggers<br>
        •	Experience in popular browsers development and debugging tools/plugins for IE tester, Chrome Inspector, Firebug, Jasmine and Karma testing framework<br>
        •	Strong experience in Version Control tools such as GIT<br>
        •	Excellent experience in IDEs like Eclipse, Sublime, WebStorm, and IntelliJ<br>
        •	Exceptional skills in Agile Development<br>
        •	Fast learner, strong communication, problem-solving, and planning skills, with ability to work independently or in a team environment<br>
    </p>
</div>
<!-- end: Title - Sumary -->

<div class="container-fluid container-fullw bg-white">
    <div>
        <h3 class="text-bold">Professional Skill</h3>
        <div class="row">
            <div>
                <div class="col-sm-2">
                    <h5>Java</h5>
                </div>
                <div class="col-sm-10 ">
                    <div >
                        <div uib-progressbar  class="progress-xs"  data-value="90" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-sm-2">
                    <h5>Javascript</h5>
                </div>
                <div class="col-sm-10 ">
                    <div >
                        <div uib-progressbar  class="progress-xs" data-value="75" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-sm-2">
                    <h5>AngularJS</h5>
                </div>
                <div class="col-sm-10 ">
                    <div >
                        <div uib-progressbar  class="progress-xs"  data-value="75" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-sm-2">
                    <h5>HTML5</h5>
                </div>
                <div class="col-sm-10">
                    <div >
                        <div uib-progressbar  class="progress-xs"  data-value="85" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-sm-2">
                    <h5>CSS3</h5>
                </div>
                <div class="col-sm-10 ">
                    <div >
                        <div uib-progressbar  class="progress-xs"  data-value="85" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-sm-2">
                    <h5>JQuery</h5>
                </div>
                <div class="col-sm-10 ">
                    <div >
                        <div uib-progressbar  class="progress-xs"  data-value="75" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-sm-2">
                    <h5>Spring Framework</h5>
                </div>
                <div class="col-sm-10 ">
                    <div >
                        <div uib-progressbar  class="progress-xs"  data-value="60" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-sm-2">
                    <h5>Node.js & Express.js</h5>
                </div>
                <div class="col-sm-10 ">
                    <div >
                        <div uib-progressbar  class="progress-xs"  data-value="60" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-sm-2">
                    <h5>SQL Query / SQL Database / NoSQL Database</h5>
                </div>
                <div class="col-sm-10 ">
                    <div >
                        <div uib-progressbar  class="progress-xs"  data-value="55" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start: timeline -->
<div class="col-md-12 container-fluid container-fullw bg-white">
    <h3 class="text-bold">Experince</h3>
    <div class="timeline1 timeline1-left ">
        <div class="timeline1-block">
            <i class="fa fa-suitcase"></i>
            <div class="timeline1-icon"></div>
            <div class="timeline1-content">
                <h5>Innovatis Technology, LLC</h5>
                <p>
                    <b>Local Services Selling Web Application</b> (AngularJS, Node.js, Express.js, MongoDB, MySQL, AWS S3)<br>
                    Developed a responsive E-commerce web application, which can let local services providers to sell their
                    services online and more easier to manage and communicate with their customers<br>
                    <b>Tax Return Web Application</b> (JQuery, Bootstrap, Java, Spring, Hibernate, MySQL)<br>
                    Developed a tax return web application contains features such like tax return tips and directions,
                    documents auto fill up, tax return estimation and etc

                </p>
                <div class="timeline1-date">
                    <h5>Software Developer</h5>
                    Aug 2015 - Current
                </div>
            </div>
        </div>
        <div class="timeline1-block">
            <div class="timeline1-icon"></div>
            <div class="timeline1-content">
                <h5>Works Applications Co., Ltd.</h5>
                <p>
                    <b>Toy Selling Project</b> (Html5, CSS3, Bootstrap, JQuery)<br>
                    Analyzed business requirements, designed system and implement the front-end view
                </p>
                <div class="timeline1-date">
                    <h5>Software Engineer</h5>
                    <h5>Intern</h5>
                    Dec 2014 - Dec 2014
                </div>
            </div>
        </div>
        <div class="timeline1-block">
            <div class="timeline1-icon"></div>
            <div class="timeline1-content">
                <h5>Nation Institute of Informatics</h5>
                <p>
                    <b>Research Data Management System</b> (Java, Spring, Hibernate, JSP, Servlet)<br>
                    Developed a web based data management application for saving and retrieving research data
                </p>
                <div class="timeline1-date">
                    <h5>Software Engineer</h5>
                    <h5>/ Researcher</h5>
                    Mar 2011 - Dec 2013
                </div>
            </div>
        </div>
    </div>



</div>
<div class="col-md-12 container-fluid container-fullw bg-white">
    <h3 class="text-bold">Education</h3>
    <div class="timeline1 timeline1-left ">
        <div class="timeline1-block">
            <i class="fa fa-graduation-cap"></i>
            <div class="timeline1-icon"></div>
            <div class="timeline1-content">
                <h5>Stevens Institute of Technology, Hoboken, NJ, US</h5>
                <p>
                    Computer Science
                </p>
                <div class="timeline1-date">
                    <h5>Master of Science</h5>
                    Jan 2014 - May 2015
                </div>
            </div>
        </div>
        <div class="timeline1-block">
            <div class="timeline1-icon"></div>
            <div class="timeline1-content">
                <h5>Chiba University, Chiba, Japan</h5>
                <p>
                    Computer Science
                </p>
                <div class="timeline1-date">
                    <h5>Master of Science</h5>
                    Apr 2011 - Mar 2013
                </div>
            </div>
        </div>
        <div class="timeline1-block">
            <div class="timeline1-icon"></div>
            <div class="timeline1-content">
                <h5>Chiba University, Chiba, Japan</h5>
                <p>
                    Informatics Science and Imaging Science
                </p>
                <div class="timeline1-date">
                    <h5>Bachelor of Science</h5>
                    Apr 2007 - Mar 2011
                </div>
            </div>
        </div>
    </div>
</div>







<!--<div class="container-fluid container-fullw bg-white">-->
    <!--<h4 class="text-bold">Working Experience</h4>-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div id="timeline">-->
                <!--<div class="timeline">-->
                    <!--<div class="spine"></div>-->
                    <!--<div class="date_separator" id="current">-->
                        <!--<span>Current</span>-->
                    <!--</div>-->
                    <!--<ul class="columns">-->
                        <!--<li>-->
                            <!--<div class="timeline_element partition-white">-->
                                <!--<div class="timeline_date">-->
                                    <!--<div>-->
                                        <!--<div class="inline-block">-->
                                            <!--<span class="current text-bold">Current</span>-->
                                        <!--</div>-->

                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="timeline_title">-->
                                    <!--<i class="fa fa-desktop fa-2x pull-left"></i>-->
                                    <!--<h4 class="light-text no-margin padding-5">Local Services Selling Web Application</h4>-->
                                <!--</div>-->
                                <!--<div class="timeline_content">-->
                                    <!--<b>AngularJS, Node.js, Express.js, MongoDB, MySQL, AWS S3</b><br>-->
                                    <!--Developed a responsive E-commerce web application, which can let local services providers-->
                                    <!--to sell their services online and more easier to manage and communicate with their customers-->
                                <!--</div>-->
                                <!--<div class="readmore">-->
                                    <!--<a href="#" class="btn btn-primary btn-o btn-wide">-->
                                        <!--Read More <i class="fa fa-arrow-circle-right"></i>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="timeline_element partition-white">-->
                                <!--<div class="timeline_date">-->
                                    <!--<div>-->
                                        <!--<div class="inline-block">-->
                                            <!--<span class="current text-bold">September 2016</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="timeline_title">-->
                                    <!--<i class="fa fa-money fa-2x pull-left"></i>-->
                                    <!--<h4 class="light-text no-margin padding-5">Tax Return Web Application</h4>-->
                                <!--</div>-->
                                <!--<div class="timeline_content">-->
                                    <!--<b>AngularJS, JQuery, Bootstrap, Java, Spring, Hibernate, MySQL</b><br>-->
                                    <!--Developed a tax return web application contains features such like tax return tips and-->
                                    <!--directions, documents auto fill up, tax return estimation and etc.-->
                                <!--</div>-->
                                <!--<div class="readmore">-->
                                    <!--<a href="#" class="btn btn-primary btn-o btn-wide">-->
                                        <!--Read More <i class="fa fa-arrow-circle-right"></i>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="timeline_element partition-white">-->
                                <!--<div class="timeline_date">-->
                                    <!--<div>-->
                                        <!--<div class="inline-block">-->
                                            <!--<span class="current text-bold">March 2016</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="timeline_title">-->
                                    <!--<i class="fa fa-android fa-2x pull-left"></i>-->
                                    <!--<h4 class="light-text no-margin padding-5">WeZone Android Application</h4>-->
                                <!--</div>-->
                                <!--<div class="timeline_content">-->
                                    <!--<b>Android Studio, Java, MangoDB</b><br>-->
                                    <!--Developed a "meet up" android application contains features such like showing different meet up-->
                                    <!--events, adding/ editing events, user registration/ login, purchasing, sending-->
                                    <!--comfirmation email, and etc.-->
                                <!--</div>-->
                                <!--<div class="readmore">-->
                                    <!--<a href="https://play.google.com/store/apps/details?id=com.wznyc.wezone&hl=en" class="btn btn-primary btn-o btn-wide">-->
                                        <!--Read More <i class="fa fa-arrow-circle-right"></i>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="timeline_element partition-white">-->
                                <!--<div class="timeline_date">-->
                                    <!--<div>-->
                                        <!--<div class="inline-block">-->
                                            <!--<span class="current text-bold">Octorber 2015</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="timeline_title">-->
                                    <!--<i class="fa fa-building-o fa-2x pull-left"></i>-->
                                    <!--<h4 class="light-text no-margin padding-5">Realty Management Website</h4>-->
                                <!--</div>-->
                                <!--<div class="timeline_content">-->
                                    <!--<b>Html5, CSS3, Bootstrap</b><br>-->
                                    <!--According to requirements from the owner of the Realty Management Company, rewrite their website to show current business.-->
                                <!--</div>-->
                                <!--<div class="readmore">-->
                                    <!--<a href="http://www.deluco.org" class="btn btn-primary btn-o btn-wide">-->
                                        <!--Read More <i class="fa fa-arrow-circle-right"></i>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<div class="spine"></div>-->
                    <!--<div class="date_separator" id="october">-->
                        <!--<span>August 2015</span>-->
                    <!--</div>-->
                    <!--<ul class="columns">-->
                        <!--<li>-->
                            <!--<div class="timeline_element partition-white">-->
                                <!--<div class="timeline_date">-->
                                    <!--<div>-->
                                        <!--<div class="inline-block">-->
                                            <!--<span class="current text-bold">December 2014</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="timeline_title">-->
                                    <!--<i class="fa fa-building-o fa-2x pull-left"></i>-->
                                    <!--<h4 class="light-text no-margin padding-5">Toy Selling Project</h4>-->
                                <!--</div>-->
                                <!--<div class="timeline_content">-->
                                    <!--<b>Html5, CSS3, Bootstrap, JQuery</b><br>-->
                                    <!--Analyzed business requirements, designed system and implement the front-end view<br>-->
                                    <!--•	Built a navigation bar, a dropdown menu, a list view, and refine filters for toy products by Html5 and JQuery UI<br>-->
                                    <!--•	Used Bootstrap framework to create responsive and multi-device friendly design<br>-->
                                    <!--•	Managed front-end dependencies using Bower<br>-->
                                <!--</div>-->
                                <!--<div class="readmore">-->
                                    <!--<a href="http://www.deluco.org" class="btn btn-primary btn-o btn-wide">-->
                                        <!--Read More <i class="fa fa-arrow-circle-right"></i>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
 <!--end: timeline -->

<!-- end: YOUR CONTENT HERE -->